<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <!-- 必须要写rel="stylesheet" -->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
   <h2 style="text-align: center;color: chartreuse">Welcome to Nginx!</h2>
   <p style="text-align: center">If you see this page,it prove that you has install nginx successful...</p>
    <button class="submit" name="submit" id="sub" value="提交">提交</button>
</body>
    <!-- </script> 不能简写 -->
    <script src="/static/js/index.js" type="text/javascript"></script>
</html>